@import "../../scss/constants.scss";

.products {
  position: relative;
  padding-bottom: 30px;
  .slick-arrow {
    position: absolute !important;
    // background-color: red;
    z-index: 1;

    &.slick-next {
      transform: translate(-50%, calc(-50% + 20px));
      right: 0;
    }

    &.slick-prev {
      transform: translate(50%, calc(-50% + 20px));
      left: 0;
    }
  }

  .slick-dots {
    bottom: -10px !important;
  }
}
