@import "../../scss/constants.scss";

.product {
  &__content {
    display: flex;
    padding: 30px 0 60px;
    flex-direction: column;
  }

  &__title {
    font-size: 18px;

    @media screen and (min-width: 720px) {
      font-size: 26px;
    }
  }

  &__weight {
    font-size: 18px;

    @media screen and (min-width: 720px) {
      font-size: 24px;
    }
  }

  &__price {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;

    @media screen and (min-width: 720px) {
      font-size: 18px;
    }
  }

  &__description {
    margin-bottom: 20px;

    .flavour-list {
      &__title {
        margin-bottom: 4px;
      }

      ul {
        list-style: initial;
        padding-left: 20px;
      }
    }
  }

  &__images {
    margin-left: -16px;
    margin-right: -16px;

    .slick-slide {
      padding: 0 16px;
    }

    @media screen and (min-width: 600px) {
      margin-left: -24px;
      margin-right: -24px;

      .slick-slide {
        padding: 0 24px;
      }
    }
  }

  &__image {
    overflow: hidden;

    img {
      height: 320px;
      object-position: bottom;
      object-fit: cover;
    }
  }
}
