// Raleway
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-Bold.ttf");
  font-weight: 700;
}

// Poiret One
@font-face {
  font-family: "Poiret";
  src: url("../assets/fonts/poiret-one/PoiretOne-Regular.ttf");
}
